---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Game Data Displayed in Real-Time",
    description:
      "By connecting to a sports API, we are able to fetch live results as they come from games.",
    icon: "bx:bxs-timer",
  },
  {
    title: "User Authentication",
    description:
      "Using AWS Cognito and Amplify with our front-end, we are able to allow users all the CRUD functionality & security one would expect from such an application.",
    icon: "bx:bxs-lock",
  },
  {
    title: "Bet-placing Framework",
    description:
      "As the name implies, Betchya allows users to place bets on games as they happen.",
    icon: "bx:bxs-dollar-circle",
  },
  {
    title: "Modern & Streamlined Interface",
    description:
      "Our interface is made with Flutter, a first-of-its-kind run-anywhere framework that makes it compatible with just about any mobile device.",
    icon: "bx:bxs-mobile",
  },
  {
    title: "Secure Payments with Stripe",
    description:
      "We use Stripe for secure and reliable payment processing, ensuring all transactions are handled safely.",
    icon: "bx:bxs-credit-card",
  },
  {
    title: "Geofencing for Casino Locations",
    description:
      "Our app includes a geofencing feature that helps users locate nearby casinos, enhancing the overall betting experience.",
    icon: "bx:bxs-map-pin",
  },
];

---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    The all-in-one application for your local tribal casino
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Betchya: Your Ultimate Game Companion. Combining cutting-edge technology with innovative features, we bring the thrill of live sports and seamless betting to your fingertips.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
